  * {
    box-sizing: border-box;
  }

  .box2, .box3 {
    height: 350px;
    padding: 15px;
    border-width: 1px;
    box-shadow: 1px 2px 2px 1px #888888;
    border-color: #DCDCDC;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .box2 {
    position: relative;
  }

  .box3 {
    height: 200px;
  }
  
  .row-wrapper {
    max-width: 1000px;
    margin-top: 100px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .row2 {
    margin-bottom: 380px;
  } 

  
  /* Clearfix */
  .row-wrapper::before,
  .row-wrapper::after {
    display: table;
    content: '';
  }
  
  .row-wrapper::after {
    clear: both;
  }
  
  .col-4 {
    text-align: center;
  }

  .col-8 {
    padding-left: 10px;
  }
  
  .col-4, .col-8 {
    float: left;
    width: 100%;
  }
  
  .deal-sale-price, .deal-item-name {
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
  }

  .deal-sale-price {
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 5px;
  }
  
  .deal-link {
    position: absolute;
    right: 16px;
    font-size: 16px;
    text-decoration: none;
  }

  .deal-post-time {
    position: absolute;
    right: 16px;
    bottom: 7px;
  }

  .removeFavoriteButton {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
  }

  .edit-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
  }

  /* Mobile */
  @media only screen and (max-width: 719px) {
    .row-wrapper {
      margin-top: 50px
    }
    .col-8 {
      padding-left: 0;
    }
    .deal-description {
      padding-bottom: 30px;
      font-size: 14px;
    }
    .box2 {
      height: auto;
    }
    .row3 {
      float: left;
      width: 100%;
    }
    .comment-username {
      padding-bottom: 15px;
    }
  }

  /* Non-mobile, grid */
  @media only screen and (min-width: 720px) {
    .col-4 {
      width: 370px;
    }
    .col-8 {
      max-width: calc(100% - 370px);
    }
  }