  img {
    height: 160px;
    width: 160px;
  }

  .favorite {
    height: 20px;
    width: 20px;
    position: relative;
    right: 90px;
    cursor: pointer;
    /* float: left; */
  }

  .removeDealButton {
    display: inline-block;
    /* float: right; */
    height: 20px;
    width: 20px;
    position: relative;
    left: 90px;
    top: 0px;
    cursor: pointer;
  }

  figcaption {
    padding-bottom: 5px;
  }

  .store-name {
    padding-top: 10px;
    font-size: 12px;
  }

  .deal-name {
    padding-top: 10px;
    border-top: 1px solid black;
    font-size: 15px;
  }

  .deal-price {
    font-weight: bold;
  }

  @media only screen and (max-width: 639px) {
    .removeDealButton {
      float: right;
      left: 0;
    }  
    .favorite {
      top: 0;
      float: left;
      right: 0;
    }
  }

