  img {
    height: 160px;
    width: 160px;
  }

  .fav-delete {
    height: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .favorite {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .removeDealButton {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  figcaption {
    padding-bottom: 5px;
  }

  .store-name {
    padding-top: 10px;
    font-size: 12px;
  }

  .deal-name {
    padding-top: 10px;
    border-top: 1px solid black;
    font-size: 15px;
  }

  .deal-price {
    font-weight: bold;
  }

