* {
    box-sizing: border-box;
  }

  .nav_stores_submenu {
    display: block;
    position: absolute;
    text-align: left;
  }

  .nav_stores_submenu-item {
    display: block;
    position: relative;
    text-align: left;
  }
