  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  nav > .menu {
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav > ul > li {
    float: left;
  }

  li a, .menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }

  .menu {
    text-align: left;
  }

  .log-out {
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
  }

  li a:hover, .log-out:hover {
    background-color: #111;
  }

  
  @media only screen and (max-width: 640px) {
    .navigation {
      display: none;
    }
    
    nav {
      overflow: hidden;
      background-color: #333;
    }

    nav > .menu {
      display: block;
    }

    li a, .menu, .log-out {
      text-align: left;
    }

    nav > ul > li {
      float: none;
    }

    .nav_stores_submenu, .nav_categories_submenu {
      position: absolute;
    }

    .nav_stores_submenu > li, .nav_categories_submenu > li {
      position: relative;
      padding-left: 80px;
    }

    nav:hover ul {
      display: block;
    }

    .box3 {
      height: 250px;
    }
  }