
  .new-deal-form {
    width: 400px;
    padding: 40px;
    margin: 0 auto;
  }
  
  .new-deal-form legend {
    width: 400px;
    padding: 40px;
    margin: 0 auto;
  }

  .new-deal-form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .new-deal-form input, .new-deal-form textarea {
    width: 100%;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 3px; 
  } 

  .new-deal-form textarea {
    resize: none;
  }

  .new-deal-form button {
    width: 100%;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 3px;
  }

  