  .edit-form {
    width: 400px;
    padding: 40px;
    margin: 0 auto;
  }

  .edit-form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .edit-form input, .edit-form select, .edit-form textarea {
    width: 100%;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 3px; 
  } 

  .edit-form textarea {
    height: 15em;
    resize: none;
  }

  .edit-form button {
    width: 100%;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 3px;
  }

  