    .store-box-image {
        height: 250px;
        padding: 35px;
        border-width: 1px;
        box-shadow: 1px 2px 2px 1px #888888;
        border-color: #DCDCDC;
        border-style: solid;
        border-radius: 10px;
        position: relative;
    }

    .confirmation-mssg {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .button-container {
        display: block;
        margin-top: 15px;
        text-align: center;
    }

    .confirmation-yes {
        background-color: #3373c7;
        border-radius: 2px;
        width: 80px;
        height: 25px;
        border: #3373c7;
        color: white;
        cursor: pointer;
        margin-right: 5px;
    }

    .confirmation-no {
        background-color: #3373c7;
        border-radius: 2px;
        width: 80px;
        height: 25px;
        border: #3373c7;
        color: white;
        cursor: pointer;
        margin-left: 5px;
    }