
  h2 {
    text-align: center;
  }
  
  .login-form {
    width: 400px;
    padding: 40px;
    margin: 0 auto;
  }

  .login-form {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .login-form input {
    width: 100%;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 3px; 
  } 

  .login-form button {
    width: 100%;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 3px;
  }

  