
  h2 {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  .login {
    text-decoration: none;
  }
  
  .signup-page {
    text-align: center;
  }
  
  .signup-form {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    text-align: left;
    width: 400px;
    padding: 40px;
    margin: 5px auto;
    display: block;
  }

  .signup-form input {
    width: 100%;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 3px; 
  } 

  .signup-form button {
    width: 100%;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 3px;
  }

  