
  .sale-search-form {
    float: left;
  }

  .sale-search-form input {
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .sale-search-form button {
    padding: 10px;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    float: left;
  }

  input, button {
      margin: 0;
  }